header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul {
        width: 35%;
}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
