/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Open Sans', Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: $secondary-color;
}
header h1 {margin: .75rem 0 0 0;}
header h2 {margin: 0; font-weight: $h2-weight;}
header figure.logo {
    float: left;
    margin: 0 2% 0 0;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: $primary-color;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: $nav-background;
    color: #f0f9ff;
    border-left: 1px solid #f0f9ff;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #f0f9ff;
    color: #5e5654;
}
nav ul li.active a {
    background-color: #f0f9ff;
    color: #5e5654;
}
/*----------- MAIN --------------*/
main {
    // padding: 0 2%;
    min-height: 10rem;
}
main picture.hero {
    margin: 0;
    padding: 0;
    width: 100%;
}
main picture.hero img {
    margin: 0;
    padding: 0;
    width: 100%;
}
main h1 {
    color: $primary-color;
    padding: 0 2%;
}
main picture.founder {
    float: right;
    width: 46%;
    padding: 0 2%;
}
main picture.founder img {
    width: 100%;
}
main p {
    padding: 0 2%;
    line-height: 1.5rem;
}


/*----------- FOOTER --------------*/
footer {
    background-color: $secondary-color;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}