/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


div#pageWrapper {
    display: grid;
    grid-template-areas: 
        "hamburger"
        "header"
        "content"
        "footer"
        "navigation";
    grid-template-columns: 100%;
}


/*----------- BODY --------------*/
body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
    color: $accent-color;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}
h1 {
    margin-bottom: 3rem;
}
h3 {
    margin: 0;
}
p {
    margin-top: 0;
}


/*----------- HEADER --------------*/
header {
    grid-area: header;
    padding: .5rem 2%;
    background-color: #f3f3f3;
    h1 {margin: 0;}
    h2 {margin: 0; font-weight: normal;}
}
header img {
    width: 200px;
}



/*----------- NAVIGATION --------------*/
a.myjump{
    display: block;
    width: 60px;
    color: rgba(0,0,0,0.7);
    font-size: 1.7rem;
    padding: .4rem;
    text-decoration: none;
    padding-left: 2%;
}

nav {
    grid-area: navigation;
    background-color: $primary-color;
    height: 100vh;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    flex-basis: 100%;
    
}
nav ul li a {
    display: block;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: rgba(255,255,255,0.4);
    color: $accent-color;
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}


/*----------- HAMBURGER --------------*/
div#hamburger {
    grid-area: hamburger;
    background-color: $primary-color;
}


/*----------- MAIN --------------*/
main {
    grid-area: content;
    padding: 0 2%;
    min-height: 10rem;
}
.appleRow, .samsungRow, .microsoftRow {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1.5rem 0;

  .column1 {
    order: 1;
    padding-bottom: .5rem;
  }
  .column2 {order: 3;}
  .column3 {order: 2;}

  img {width: 100%;}
}


/*----------- FOOTER --------------*/
footer {
    grid-area: footer;
    background-color: $primary-color;
    color: #fff;
    padding: .5rem 2%;
    text-align: center;
    border-top: 2px solid $accent-color;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}