header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li {
        width: auto;
}


/*----------- MAIN --------------*/
main div.members div {
        width: 25%;
        padding-right: 1.5rem;
    }
#jason {
        padding: 0;
}


/*----------- FOOTER --------------*/
    
