/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Open Sans', Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #000;
}
header h1 {margin: 0; font-weight: 700; color: #b13c38;}
header h2 {margin: 0; font-weight: 400; color: #fff;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: #444;
    color: #fff;
    border-left: 1px solid #fff;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #b13c38;
    color: #fff;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
main h1 {
    font-weight: 700;
    margin-bottom: 0;
}
main h2 {
    font-weight: 400;
}
main p {
    font-weight: 300;
}
main div.members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
main div.members img {
    float: right;
    width: 150px;
}
#billie img {
    shape-outside: circle(40% at 50% 50%);
    clip-path: circle(40% at 50% 50%);
}
#tre img {
    shape-outside: polygon(50% 0%, 0 75%, 100% 75%);;
    clip-path: polygon(50% 0%, 0 75%, 100% 75%);
}
#mike img {
    shape-outside: polygon(0 0, 85% 85%, 85% 0);
    clip-path: polygon(0 0, 85% 85%, 85% 0);
}
#jason img {
    shape-outside: circle(65% at 75% 25%);
    clip-path: circle(65% at 75% 25%);
}

/*----------- FOOTER --------------*/
footer {
    background-color: #000;
    color: #fff;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}