@media only screen and (min-width: 560px) {
    /* Navigation */
    nav li {
        float: left;
        width: 25%;
    }

    /* Header */
    header h1 {
        margin: 2.75rem 0 0 0;
    }
    header h2 {
        display: inline;
    }

    /* Main */
    main figure.myphoto {
        float: right;
        width: 48%;
        margin-left: 2%;
        padding-bottom: .5rem;
    }
}
/* End of Media Query */