header, nav, main, footer {
        max-width: 60rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header {
        background-image: url(../images/header_large2.jpg);
        background-position: 50% 60%;
    }


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
figure.float {
        width: 29%;
        margin-left: 2%;
    }


/*----------- FOOTER --------------*/
    
