/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Noto Sans JP', Verdana, sans-serif;
}


/*----------- HEADER --------------*/
#header-wrapper {
    background-image: url(../images/header_repeat2.png);
}
header {
    padding: .5rem 2%;
    background-image: url(../images/smallheader.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
header h1 {
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}
header h2 {
    margin: 0; 
    font-size: 1.25rem; 
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

/*----------- NAVIGATION --------------*/
#nav-wrapper {
    background-color: $primaryColor;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    color: #eee;
    border-left: 1px solid #fff;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #fff;
    color: #000;
}
nav ul li.active a {
    background-color: $secondaryColor;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
main h2 {
    font-weight: 400;
    color: $secondaryColor;
}
main figure {
    margin: 0;
}
figure.float {
    width: 100%;
    float: right;
    padding-bottom: .75rem;
}
figure.float img {
    width: 100%;
}
figure.animal img {
    width: 75px;
    position: relative;
    animation: myAnimalAnimation 10s 2;
}
@keyframes myAnimalAnimation {
    0% {
        left: 0px;
    }
    5% {
        transform: translateY(-10px);
    }
    10% {
        transform: translateY(0px);
    }
    15% {
        transform: translateY(-10px);
    }
    20% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    30% {
        transform: translateY(0px);
    }
    35% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0px);
    }
    50% {
        left: 50%;
        transform: scaleX(-1)
    }
    100% {
        left: 0px;
        transform: scaleX(-1)
    }
}
main iframe {
    width: 100%;
    padding-bottom: 1rem;
}


/*----------- FOOTER --------------*/
#footer-wrapper {
    background-color: $primaryColor;
}
footer {
    padding: .5rem 2%;
    text-align: center;
    color: #fff;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}