header, nav, main, footer {
        max-width: 71.25rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
div.fruit-gallery figure {
        flex-basis: 25%;
}
div.fruit-gallery figure img {
        width: 96%;
        
    }


/*----------- FOOTER --------------*/
    
