/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Nunito', Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    display: grid;
    grid-template-columns: 100px auto;
}
header h1 {margin: .25rem 0 0 0;}
header h2 {margin: 0; font-weight: normal; font-weight: 200;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: $menuColor;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: darken($menuColor, 10%);
    color: #fff;
    border-left: 1px solid #fff;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: lighten($menuColor, 20%);
    color: #fff;
}
nav ul li.active a {
    background-color: #c5333a;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

div.fruit-gallery {
    display: flex;
    flex-wrap: wrap;
}
div.fruit-gallery figure{
    flex-basis: 50%;
    margin: 1rem 0;
    text-align: center;
}
div.fruit-gallery figure img {
    width: 96%;
    
}



/*----------- FOOTER --------------*/
footer {
    background-color: #316b59;
    color: #fff;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}