
    nav li {
        float: left;
        width: 25%;
    }

    header h1 {
        margin: 2.75rem 0 0 0;
    }
    header h2 {
        display: inline;
    }

    main figure.myphoto {
        float: right;
        width: 48%;
        margin-left: $gutter;
        padding-bottom: .5rem;
    }