* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Body Rules */
body {
    font-family: $fontFamily;
    font-size: 16px;
}

/* Header Rules */
header {
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 1rem $gutter;
    img {
        float: left;
        padding-right: 1rem;
    }
    h1 {
        margin: 2.25rem 0 0 0;
        font-family: 'Exo', Verdana, Arial, Helvetica, sans-serif;
    }
    h2 {
        display: none;
        margin: 0;
        font-family: 'Exo', Verdana, Arial, Helvetica, sans-serif;
        font-weight: $lightWeight;
        font-size: 1.25rem;
    }
} 

/* Navigation Rules */
.nav-wrapper {
    background-color: #000;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    list-style-type: none;
}
nav a {
    display: block;
    padding: .8rem 0; /* 44 min height */
    font-family: $fontFamily;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background-color: #fff;
    color: #000;
}
nav a.active {
    color: #f9da57;
}

/* Main Rules */
main {
    padding: 0 $gutter 1rem $gutter;
    display: block;
    background-color: #dcdcdc;
    h1 {
    color: #5eaaf8;
    font-family: 'Exo';
    }
    figure.myphoto {
    width: 100%;
    margin: 0;
    }
    figure.myphoto img {
    width: 100%;
    }
    figure.hero {
    width: 100%;
    margin: 0;
    }
    figure.hero img {
    width: 100%;
    }
}

/* Footer Rules */
footer {
    text-align: center;
    padding: 1rem $gutter;
    background-color: $secondaryColor;
    color: #f9da57;
}





.clearfix:after {
    content: "";
    display: table;
    clear: both;
}